
@font-face {
    font-family: 'sf_cartoonist_handregular';
    src: url('fonts/sf_cartoonist_hand-webfont.woff2') format('woff2'),
         url('fonts/sf_cartoonist_hand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'true_crimesregular';
    src: url('fonts/true-crimes-webfont.woff2') format('woff2'),
         url('fonts/true-crimes-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: black;
    color: #ffff36;
    grid-row: 1/-1;
    display: grid;
    font-size: 20px;
    height: 100vh;
}

.navigation {
    color:#0fc3ff;
}

.header {
    background-color: #0fc3ff;
    color: black;
    grid-column: 2/-1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-content {
    background-color: #c7c7c7;
}

.searchbar-row, .user-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchtext {
    width: 400px;
}

.right-top-header, .search, .left-user-info, .right-user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 10px;
}

.user-message {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-row: 1/-1;
}

.announce-card{
    margin: 20px;
}

.trending {

}
.project-card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    overflow: auto;
    resize: both;
    gap: 15px;
    margin: 15px;
}

.project-card {
    padding: 15px;
    background-color: #ffff36;
    height: 150px;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
    padding-left:30px;
    margin: 10px 0px;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: #ffff36;
}

p,h1,h2,h3,h4 {
    display: inline;
    margin: 0px;
}

h1,h2,h3,h4 {
    font-family: 'true_crimesregular', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: 'sf_cartoonist_handregular', Arial, Helvetica, sans-serif;
}

button {
    background-color:#c7c7c7;
    border: none;
}

.project-card, .project-card-text, .announcements, .announce-card, .trend-user, .trending, .announce-container, .trend-container {
    display: flex;
    flex-direction: column;
}

.trending {
    gap: 10px;
}

.trend-info {
    display: flex;
    align-items: center;
}
.trend-container, .announce-container {
    background-color:#ffff36;
    margin-right: 20px;
    border-radius: 5%;
}

.announce-container {
    flex:1;
}

.project-card {
    justify-content: space-between;
    border-radius: 5%;
}

.announce-card {
    flex: 1;
}

.icon-line {
    align-self: flex-end;
}

.icon-logo {
    align-self: end;
}

.batman-logo {
    height: 30px;
}

.batman-user-logo {
    height: 40px;
}

.dash-header{
    display: flex;
    align-items: center;
}


#home {
    background-image: url(icons/home.svg);
    background-repeat: no-repeat;
}
#profile {
   background-image: url(icons/card-account.svg);
   background-repeat: no-repeat;
}
#messages{
    background-image: url(icons/message.svg);
    background-repeat: no-repeat;
}
#history {
    background-image: url(icons/clock-time-four.svg);
    background-repeat: no-repeat;
}
#tasks {
    background-image: url(icons/checkbox.svg);
    background-repeat: no-repeat;
}
#communities {
    background-repeat: no-repeat;
    background-image: url(icons/account-group.svg);
}
#settings {
    background-repeat: no-repeat;
    background-image: url(icons/cog.svg);
}
#support {
    background-repeat: no-repeat;
    background-image: url(icons/help.svg);
}
#privacy {
    background-repeat: no-repeat;
    background-image: url(icons/security.svg);
}